<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtE6QPblDKRBu2om6o3rNECo_Blpt0y08</string>
	<key>GCM_SENDER_ID</key>
	<string>861838681926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipecastrosales.remoteOrder</string>
	<key>PROJECT_ID</key>
	<string>remote-order-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-order-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861838681926:ios:91e1253e0103c28b4da747</string>
</dict>
</plist>